<!-- <div class="header">
    <a [routerLink]="['/izracun-kredita']" >
        Izračun kredita
    </a>
    <a [routerLink]="['/plan-otplate']">
        Plan otplate
    </a>
    <a [routerLink]="['/prijava-problema']">
        Prijavi problem
    </a>
</div> -->

<mat-toolbar class="mod-display-flex mod-justify-content-space-between">
  <span>Kreditni Kalkulator</span>
  <div>
    <a [routerLink]="['/izracun-kredita']" class="mod-margin-right-25">
      Izračun kredita
    </a>
    <a
      [routerLink]="['/plan-otplate']"
      class="mod-margin-right-25 mod-margin-left-25"
    >
      Plan otplate
    </a>
  </div>
</mat-toolbar>
