<div class="mod-margin-bottom-10 mod-margin-top-40">
    Pregled Kredita:
</div>
<div class="mod-display-flex">
    <div class="mod-display-flex mod-flex-direction-column mod-flex-grow-1 mod-margin-left-20 mod-margin-right-20">
        <div>
            Anuiteti
        </div>
        <table mat-table [dataSource]="annuitySummaryTableData" class="mat-elevation-z8 loan-summary-table" >         
            <ng-container matColumnDef="totalPayment">
                <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                <td mat-cell *matCellDef="let element; let i = index;" [ngClass]="i == 0 ? annuitySinglePaymentTotalPaymentRowClass : annuityMultiplepaymentsTotalPaymentRowClass"> {{element.totalPayment.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="totalInterestPaid">
                <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                <td mat-cell *matCellDef="let element; let i = index;" [ngClass]="i == 0 ? annuitySinglePaymentTotalInterestPaymentRowClass : annuityMultiplepaymentsTotalInterestPaymentRowClass"> {{element.totalInterestPaid.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="totalGrant">
                <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.totalGrant.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.duration}} </td>
            </ng-container>
            <ng-container matColumnDef="cashPaymentAmount">
                <th mat-header-cell *matHeaderCellDef> Gotovina uplaćena </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.cashPaymentAmount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: summaryDisplayedColumns;"></tr>
        </table>
    </div>
    <div class="mod-display-flex mod-flex-direction-column mod-flex-grow-1 mod-margin-left-20 mod-margin-right-20">
            <div>
                Rate
            </div>
        <table mat-table [dataSource]="rateSummaryTableData" class="mat-elevation-z8 loan-summary-table" >           
            <ng-container matColumnDef="totalPayment">
                <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                <td mat-cell *matCellDef="let element; let i = index;" [ngClass]="i == 0 ? rateSinglePaymentTotalPaymentRowClass : rateMultiplepaymentsTotalPaymentRowClass"> {{element.totalPayment.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="totalInterestPaid">
                <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                <td mat-cell *matCellDef="let element; let i = index;" [ngClass]="i == 0 ? rateSinglePaymentTotalInterestPaymentRowClass : rateMultiplepaymentsTotalInterestPaymentRowClass"> {{element.totalInterestPaid.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="totalGrant">
                <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{element.totalGrant.toFixed(2)}} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>
            <ng-container matColumnDef="cashPaymentAmount">
                <th mat-header-cell *matHeaderCellDef> Gotovina uplaćena </th>
                <td mat-cell *matCellDef="let element"> {{element.cashPaymentAmount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="summaryDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: summaryDisplayedColumns;"></tr>
        </table>
    </div>
</div>
<div *ngIf="paymentSummaryWithRefinancing.length > 1" class="mod-display-flex mod-flex-direction-column">
    <div class="mod-display-flex mod-flex-direction-column">
        <div class="mod-margin-bottom-10 mod-margin-top-40">
                Detalji Kredita Bez Prijevremene Otplate Glavnice:
        </div>
        <div class="mod-display-flex">
            <table mat-table [dataSource]="annuitySinglePaymentDetailsTableData" class="mat-elevation-z8 loan-summary-table mod-margin-left-20 mod-margin-right-20">            
                <ng-container matColumnDef="principal">
                    <th class="" mat-header-cell *matHeaderCellDef> Iznos kredita(glavnice)</th>
                    <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
                </ng-container>
                <ng-container matColumnDef="annuity">
                    <th mat-header-cell *matHeaderCellDef> Anuitet </th>
                    <td mat-cell *matCellDef="let element"> {{element.annuity.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalPayment">
                    <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPayment.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalInterestPaid">
                    <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalInterestPaid.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalGrant">
                    <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalGrant.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="annuityDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: annuityDisplayedColumns;"></tr>
            </table>
            <table mat-table [dataSource]="rateSinglePaymentDetailsTableData" class="mat-elevation-z8 loan-summary-table mod-margin-left-20 mod-margin-right-20" >            
                <ng-container matColumnDef="principal">
                    <th class="" mat-header-cell *matHeaderCellDef> Iznos kredita(glavnice)</th>
                    <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
                </ng-container>
                <ng-container matColumnDef="firstRate">
                    <th mat-header-cell *matHeaderCellDef> Prva Rata </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstRate.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="lastRate">
                    <th mat-header-cell *matHeaderCellDef> Zadnja Rata </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastRate.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalPayment">
                    <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPayment.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalInterestPaid">
                    <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalInterestPaid.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalGrant">
                    <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalGrant.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="rateDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: rateDisplayedColumns;"></tr>
            </table>
        </div>

    </div>
    <div class="mod-display-flex mod-flex-direction-column">
        <div class="mod-margin-bottom-10 mod-margin-top-40">
            Detalji Kredita S Prijevremenom Otplatom Glavnice:
        </div>
        <div class="mod-display-flex">
            <table mat-table [dataSource]="annuityMultiplePaymentDetailsTableData" class="mat-elevation-z8 loan-summary-table mod-margin-left-20 mod-margin-right-20" >            
                <ng-container matColumnDef="principal">
                    <th class="" mat-header-cell *matHeaderCellDef> Iznos kredita(glavnice)</th>
                    <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
                </ng-container>
                <ng-container matColumnDef="annuity">
                    <th mat-header-cell *matHeaderCellDef> Anuitet </th>
                    <td mat-cell *matCellDef="let element"> {{element.annuity.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalPayment">
                    <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPayment.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalInterestPaid">
                    <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalInterestPaid.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalGrant">
                    <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalGrant.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="annuityDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: annuityDisplayedColumns;"></tr>
            </table>
            <table mat-table [dataSource]="rateMultiplePaymentDetailsTableData" class="mat-elevation-z8 loan-summary-table mod-margin-left-20 mod-margin-right-20" >            
                <ng-container matColumnDef="principal">
                    <th class="" mat-header-cell *matHeaderCellDef> Iznos kredita(glavnice)</th>
                    <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
                </ng-container>
                <ng-container matColumnDef="firstRate">
                    <th mat-header-cell *matHeaderCellDef> Prva Rata </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstRate.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="lastRate">
                    <th mat-header-cell *matHeaderCellDef> Zadnja Rata </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastRate.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalPayment">
                    <th mat-header-cell *matHeaderCellDef> Ukupni Plaćeni Iznos </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalPayment.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalInterestPaid">
                    <th mat-header-cell *matHeaderCellDef> Ukupno Plaćena Kamata </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalInterestPaid.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="totalGrant">
                    <th mat-header-cell *matHeaderCellDef> Ukupna Subvencija </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalGrant.toFixed(2)}} </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef> Trajanje </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="rateDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: rateDisplayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
