<div>
    <div class="mod-flex-grow-1 flex-basis-0 mod-display-flex mod-flex-flow-column">
        <div class="mod-padding-20 mod-display-flex">
            Željeni iznos kredita (€):
            <input type="number" matInput [(ngModel)]="amountBorrowed">
        </div>
        <div class="mod-padding-20 mod-display-flex">
            Vremenski rok otplate u godinama:
            <input type="number" matInput [(ngModel)]="creditLength">
        </div>
        <div class="mod-padding-20 mod-display-flex">
            Kamatna stopa:
            <input type="number" matInput [(ngModel)]="interestRate" />
        </div>
        <mat-checkbox class="mod-padding-left-20" [(ngModel)]="hasGrant">APN Subvencija</mat-checkbox>
        <div class="mod-padding-20 " [hidden]="!hasGrant">
            Veličina stana (m2):
            <input type="number" matInput [(ngModel)]="propertySize" />
        </div>       
        <div class="mod-padding-20" [hidden]="!hasGrant">
            Trajanje subvencije u godinama:
            <input type="number" matInput [(ngModel)]="grantDuration" />
        </div>
        <div class="mod-padding-20" [hidden]="!hasGrant">
            Iznos subvencije (%):
            <input type="number" matInput [(ngModel)]="grantPercentage" />
        </div>
    </div>
    <div class="wrapper">
        <div>
            <h1> Anuiteti</h1>
            <table>
                <thead>
                    <tr>
                        <th>RB</th>
                        <th>Glavnica</th>
                        <th>Kamata</th>
                        <th>Mjesečni obrok</th>
                        <th>Subvencija</th>
                        <th>Obrok nakon subvencije</th>
                        <th>Nedospjela Glavnica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of months">
                        <td>{{ i }}</td>
                        <td>{{ annuityCalculator.borrowedAmountPaymentForMonth(i) }}</td>
                        <td>{{ annuityCalculator.interestPaidForMonth(i) }}</td>
                        <td>{{ annuityCalculator.getAnnuity() }}</td>
                        <td>{{ annuityCalculator.grantedPaymentForMonth(i) }}</td>
                        <td>{{ annuityCalculator.amountToPayWithGrantForMonth(i) }}</td>
                        <td>{{ annuityCalculator.borrowedAmountLeft(i) }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Glavnica</th>
                        <th>Kamata</th>
                        <th>Ukupno plaćeno</th>
                        <th>Subvencija</th>
                        <th>Nakon subvencije</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>UKUPNO:</th>
                        <th>{{ annuityCalculator.getAmountBorrowed()}}</th>
                        <th>{{ annuityCalculator.getTotalInterestPaid() }}</th>
                        <th>{{ annuityCalculator.getTotalPayment()}}</th>
                        <th>{{ annuityCalculator.getTotalGrant() }}</th>
                        <th>{{ annuityCalculator.getTotalPaymentWithGrant() }}</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <h1>Rate</h1>
            <table>
                <thead>
                    <tr>
                        <th>RB</th>
                        <th>Glavnica</th>
                        <th>Kamata</th>
                        <th>Mjesečni obrok</th>
                        <th>Subvencija</th>
                        <th>Obrok nakon subvencije</th>
                        <th>Nedospjela Glavnica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of months">
                        <td>{{ i }}</td>
                        <td>{{rateCalculator.getBorrowedAmountPaymentPerMonth()}}</td>
                        <td>{{rateCalculator.interestPaidForMonth(i)}}</td>
                        <td>{{rateCalculator.amountToPayForMonth(i)}}</td>
                        <td>{{rateCalculator.grantedPaymentForMonth(i)}}</td>
                        <td>{{rateCalculator.amountToPayWithGrantForMonth(i)}}</td>
                        <td>{{rateCalculator.borrowedAmountLeft(i)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Glavnica</th>
                        <th>Kamata</th>
                        <th>Ukupno plaćeno</th>
                        <th>Subvencija</th>
                        <th>Nakon subvencije</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>UKUPNO:</th>
                        <th>{{rateCalculator.getAmountBorrowed()}}</th>
                        <th>{{rateCalculator.getTotalInterestPaid()}}</th>
                        <th>{{rateCalculator.getTotalPayment()}}</th>
                        <th>{{rateCalculator.getTotalGrant()}}</th>
                        <th>{{rateCalculator.getTotalPaymentWithGrant()}}</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>